In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('Generator/data/transaction-data-S212P10000D365.csv')

df.head()

,run_id,day_index,date,time_seconds,hour,date_time,payer_id,payee_id,credit_card,remote,distance,amount,fraud
0,S212P10000D365,0,2023-01-01,45105,12,2023-01-01 12:31:45,0,27,0,1,146.812800,28.041632,0
1,S212P10000D365,0,2023-01-01,56948,15,2023-01-01 15:49:08,0,147,0,0,35.440090,8.375804,0
2,S212P10000D365,0,2023-01-01,15485,4,2023-01-01 04:18:05,1,315,0,0,136.367160,12.848091,0
3,S212P10000D365,0,2023-01-01,40110,11,2023-01-01 11:08:30,2,103,1,0,49.648766,21.176804,0
4,S212P10000D365,0,2023-01-01,54528,15,2023-01-01 15:08:48,2,968,1,0,54.817880,23.067689,0

In [7]:
df.describe()

,day_index,time_seconds,hour,payer_id,payee_id,credit_card,remote,distance,amount,fraud
count,3.184230e+06,3.184230e+06,3.184230e+06,3.184230e+06,3.184230e+06,3.184230e+06,3.184230e+06,3.184230e+06,3.184230e+06,3.184230e+06
mean,1.820049e+02,4.573397e+04,1.220387e+01,4.984109e+03,4.984149e+02,3.799082e-01,3.600622e-01,8.735389e+01,1.921605e+01,1.000022e-02
std,1.054175e+02,1.761302e+04,4.883942e+00,2.888427e+03,2.882673e+02,4.853638e-01,4.800182e-01,4.055024e+01,2.263977e+01,9.949984e-02
min,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,6.477720e-02,0.000000e+00
25%,9.100000e+01,3.058100e+04,8.000000e+00,2.480000e+03,2.500000e+02,0.000000e+00,0.000000e+00,5.656854e+01,6.617179e+00,0.000000e+00
50%,1.820000e+02,4.321400e+04,1.200000e+01,4.974000e+03,4.970000e+02,0.000000e+00,0.000000e+00,8.487638e+01,1.242186e+01,0.000000e+00
75%,2.730000e+02,6.482300e+04,1.800000e+01,7.486000e+03,7.460000e+02,1.000000e+00,1.000000e+00,1.154340e+02,2.334201e+01,0.000000e+00
max,3.640000e+02,8.639900e+04,2.300000e+01,9.999000e+03,9.990000e+02,1.000000e+00,1.000000e+00,2.616448e+02,1.192546e+03,1.000000e+00

In [8]:
df.drop(['run_id',	'day_index', 'date', 'date_time'], axis=1)

,time_seconds,hour,payer_id,payee_id,credit_card,remote,distance,amount,fraud
0,45105,12,0,27,0,1,146.812800,28.041632,0
1,56948,15,0,147,0,0,35.440090,8.375804,0
2,15485,4,1,315,0,0,136.367160,12.848091,0
3,40110,11,2,103,1,0,49.648766,21.176804,0
4,54528,15,2,968,1,0,54.817880,23.067689,0
...,...,...,...,...,...,...,...,...,...
3184225,40392,11,9994,987,0,1,72.034710,27.144153,0
3184226,30432,8,9995,701,0,0,93.230896,14.905506,0
3184227,28182,7,9997,958,0,0,122.331520,3.233380,0
3184228,32754,9,9998,482,0,0,51.009804,13.019641,0
3184229,61285,17,9998,276,0,0,61.846584,6.985937,0

# PPO:


### Choose 
- Amount
- Remote/not remote
- Terminal X, Y (OUT OF ""GOOD"" ONES)

### Know

- (Position)
- Credit/Not credit

# Fraud detection

### Flow
- Receive terminal, card, trx raw features, time
- Compute aggregated
- Flag the transaction